<article class="nws-full-page-container">
  <section class="login-logo-section nws-centered nws-logo-text-large">
    N<span class="nws-logo-text-highlight">e</span>ws-App
  </section>
  <section class="login-form-section nws-centered">
    <form class="nws-form-container" (ngSubmit)="onLogin()">
      <span class="nws-centered nws-text-large">Welcome</span>
      <nws-label class="nws-left-aligned" [label]="'Username'">
        <input class="nws-input-field nws-input-text" type="text" name="username" [(ngModel)]="username" >
      </nws-label>
      <nws-label class="nws-left-aligned" [label]="'Password'">
        <input class="nws-input-field nws-input-text" type="password" [(ngModel)]="password" name="password" >
      </nws-label>
      <button class="nws-button nws-button--primary nws-label-text" type="submit">Log In</button>
      <span>
        Don't have an account? <a class="nws-signup-link" routerLink="/auth/signup" >Sign Up</a>
      </span>
    </form>
  </section>
</article>
