.nws-textarea-field {
  border: 1px solid $border-color-neutral;
  padding: 8px 10px;
  border-radius: 4px;
  width: 100%;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  background-color: $background-color-medium;
  resize: none;

  &:focus {
    border-color: $border-color-neutral-focus;
    outline: none;
  }
}

.nws-input-text {
  color: $font-color-dark;
  font-family: $font-family;
  font-size: 0.9rem;
}
