<nws-new-posts-alert [newPostsCounter]="newBulletinsCounter$ | async" (postsReloaded)="postsReloaded()"></nws-new-posts-alert>
<section class="nws-news-feed">
  <nws-search-posts></nws-search-posts>

  <ng-container *ngFor="let bulletin of bulletins$ | async; index as i">
    <article class="nws-post-feed">
      <nws-post [bulletin]="bulletin"></nws-post>
      <section>
        <a class="nws-comment-link" [routerLink]="['/comments/post', bulletin.id]">
          <span class="material-symbols-outlined nws-label-text">forum</span>
          Comments ({{ bulletin.commentsCounter }})
        </a>
      </section>
    </article>
  </ng-container>

  <ng-container *ngIf="isCreatePostModalOpen">
    <section class="modal">
      <nws-create-post (closeModal)="toggleCreatePostModal()" (postCreated)="postCreated()"></nws-create-post>
    </section>
  </ng-container>
</section>

<button
  (click)="toggleCreatePostModal()"
  class="nws-news-create-button nws-rounded nws-centered nws-label-text">+
</button>
