<div class="nws-alerts-container">
  <section *ngFor="let alert of (alerts$ | async); let i = index" class="nws-global-alert">
    <header [ngSwitch]="alert.type" class="nws-global-alert__header">
      <ng-container *ngSwitchCase="AlertType.SUCCESS">
        <div class="nws-global-alert__header__status">
          <span class="material-symbols-outlined" style="color:green">check</span>
        </div>
        <span class="nws-global-alert__header__title">Success</span>
      </ng-container>
      <ng-container *ngSwitchCase="AlertType.ERROR">
        <div class="nws-global-alert__header__status">
          <span class="material-symbols-outlined" style="color:red">close</span>
        </div>
        <span class="nws-global-alert__header__title">Error</span>
      </ng-container>
      <button (click)="closeAlert(i)" class="nws-global-alert__header__close" aria-label="Close alert">&#10005;</button>
    </header>
    <main class="nws-global-alert__content">{{ alert.message }}</main>
  </section>
</div>
