<div class="nws-alerts-container">
  <section class="nws-global-alert"
           *ngFor="let alert of (alerts$ | async); let i = index" >
    <header class="nws-global-alert__header" [ngSwitch]="alert.type">
      <ng-container *ngSwitchCase="AlertType.SUCCESS">
        <div class="nws-global-alert__header__status">
          <span class="material-symbols-outlined" style="color:green">check</span>
        </div>
        <span class="nws-global-alert__header__title">Success</span>
      </ng-container>
      <ng-container *ngSwitchCase="AlertType.ERROR">
        <div class="nws-global-alert__header__status">
          <span class="material-symbols-outlined" style="color:red">close</span>
        </div>
        <span class="nws-global-alert__header__title">Error</span>
      </ng-container>
      <button class="nws-global-alert__header__close"
              aria-label="Close alert"
              (click)="closeAlert(i)" >&#10005;</button>
    </header>
    <main class="nws-global-alert__content">{{ alert.message }}</main>
  </section>
</div>
