<article class="nws-post-feed nws-news-feed">
  <a class="nws-close-comment nws-label-text nws-text-large" routerLink="/news">&#10005;</a>
  <ng-container *ngIf="bulletin$ | async as bulletin; else loading">
    <nws-post [bulletin]="bulletin"></nws-post>
    <button (click)="toggleShowReplyInput()" class="nws-button-transparent nws-label-text nws-reply-button">
      <span class="material-symbols-outlined nws-text-medium-large">forum</span><span>Add a comment</span>
    </button>
    <nws-create-comment *ngIf="showReplyInput" [postId]="_postId"></nws-create-comment>
    <section class="nws-comment-list">
      <span>
          <span class="material-symbols-outlined nws-label-text">forum</span>
          Comments ({{ bulletin.commentsCounter }})
      </span>
      <ng-container *ngIf="comments$ | async as comments; else emptyComments">
        <nws-comment-list [comments]="comments"></nws-comment-list>
      </ng-container>
    </section>
  </ng-container>
  <ng-template #loading>Loading bulletin...</ng-template>
  <ng-template #emptyComments>Loading comments...</ng-template>
</article>
