<header class="nws-new-posts-alert-container nws-centered"
        *ngIf="isVisible && newPostsCounter! > 0">
  <section class="nws-label-text">
    There are {{ newPostsCounter }} new news, click
    <button class="nws-button-transparent nws-label-text nws-text-color-primary nws-text-semibold"
            (click)="reloadPosts()">here
    </button>
    to reload
  </section>
  <button class="nws-button-transparent nws-label-text nws-text-medium-large"
          (click)="closeAlert()">&#10006;
  </button>
</header>
