@import "src/assets/styles/commons/global-styles";

.nws-create-post {
  width: 100vw;
  max-width: 800px;
  position: relative;
}

.nws-custom-file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nws-custom-file-upload button {
  background-color: $background-color-medium;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nws-custom-file-upload button:hover {
  //opacity: 0.8;
}

.nws-create-post-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.nws-create-post-button {
  width: fit-content;
  align-self: end;
}

.nws-list {
  padding: 0;
  margin: 0;
}

.nws-list-item {
  margin-left: 24px;
  padding: 4px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
