<section class="nws-create-post">
  <form class="nws-post-feed nws-news-feed" (ngSubmit)="createPost()">
    <button class="nws-create-post-close-button nws-label-text nws-text-large nws-button-transparent"
            type="button"
            (click)="close()"
    >&#x2715;
    </button>
    <label class="nws-text-medium-large nws-text-semibold">
      <span class="material-symbols-outlined nws-label-text nws-text-large">edit</span>
      Create Post
    </label>
    <nws-label [label]="'Content'">
      <textarea class="nws-textarea-field nws-input-text"
                nwsAutoResizeTextarea
                name="content"
                [(ngModel)]="postContent"
      ></textarea>
    </nws-label>
    <div class="nws-custom-file-upload">
      <button class="nws-text-semibold"
              type="button"
              (click)="fileInput.click()"><span>&nbsp;+&nbsp;</span>Attach file
      </button>
      <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
    </div>
    <ul class="nws-list">
      <li class="nws-list-item"
          *ngFor="let file of files; index as i">
        <span>{{ file.name }}</span>
        <button class="nws-button-transparent nws-label-text nws-text-large"
                type="button"
                (click)="removeFile(i)">
          &#x2715;
        </button>
      </li>
    </ul>
    <button class="nws-create-post-button nws-button nws-button--primary"
            type="submit">Create
    </button>
  </form>
</section>
